.content {
  margin-top: 40px;
  margin-bottom: 40px;
}


.inicio .texto-inicio {
  margin-top: 1%;
}

.container .texto-inicio {
  position: absolute;
}

#url {
  border-radius: 6px;
  width: 550px;
  float: none;
}

.input-group-lg.local {
  display: block;
}
#submit {
  margin-top: 20px;
}

.navbar-brand {
  height: 62px;
}

#flash {
  display: block;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-bottom: -8px;
}
