%footer.branding
  %div.container
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %p.texto-padding-top-down
          %a .a-green
            miembros
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            %a .a-green
              acerca
      %div.col-xs-6.col-sm-4.text-bottom
        %div.row
          %div.col-xs-8.col-sm-6.text-right
            %i.fa.fa-envelope
          %div.col-xs-4.col-sm-6.text-left
            %i.fa.fa-twitter
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %div.a-green
          %p.texto-padding-top-down
            %a .a-green
              herramientas
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            %a .a-green
              preguntas
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %div.a-green
          %p.texto-padding-top-down
            %a .a-green
              foro
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            %a .a-green
              glosario
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %div.a-green
          %p.texto-padding-top-down
             %a .a-green
               footer.menu.blog
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
             %a .a-green
               guia
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %p.texto-padding-top-down
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            %a .a-green
              estudio
    %div.row.texto-padding-top-down
      %div.col-xs-6.col-sm-2.text-center
      %div.col-xs-6.col-sm-2.text-center
        %img src="/static/images/mexicodigital.png"
      %div.col-xs-6.col-sm-2.text-center
        %img src="/static/images/footerlogomexicoabierto.png"
      %div.col-xs-6.col-sm-2.text-center
        %img src="/static/images/datoslogo.png"
      %div.col-xs-6.col-sm-2.text-center
        %img src="/static/images/footerusaid.png"

%footer
