%html lang="en"
  %head
    %title -> Iris
    %link rel="stylesheet" type="text/css" href="/static/css/main.css"
    %link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"
    -assets "css_all"
      %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
    %link rel="stylesheet" type="text/css" href="/static/css/graph.css"
  %body
    %div.inicio
      -include "_menu.html.haml"
    %div.container.texto-inicio.content
      -block content
        algo
    %div.separador-verde
    -include "_footer.html.haml"
