%header.navbar.navbar-static-top.navbar-inverse
  %div.container
    %nav
      %ul.nav.navbar-nav.pull-right
       %li
        %a href="/que-es-iris?"
          ¿Qué es IRIS?
       %li
        %a href="/como-contestar-iris?"
          ¿Cómo contestar IRIS?
       %li
        %a href="/http://mxabierto.org"
          Regresar a México Abierto
    %img src="/static/images/red-iris.png" class="navbar-brand"
