{% haml %}
%html lang="en"
%body
    %h1 
      Ingrese la url completa del archivo con las respuestas
    %h2
      Copy paste desde la página es suficiente
    %form action="." method="POST"
      %input type="text" name="url"
      %input type="submit" name="form" value="Send"
{% endhaml %}
